<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Explore the world in comfort.">
  	<meta name="author" content="Eric Schmidt">
    <title>TravelForest | Lake Baikal</title>
    <link rel="stylesheet" type="text/css" href="./css/styleaqua.css">
  </head>
  <body>
    <div class="header">
      <a href="index.html" class="logo">TravelForest</a>
      <div class="header-right">
        <a class="a" href="index.html">Home</a>
        <a class="active b"href="booknow.html">Book Now</a>
      </div>
    </div>
    <section id="land">
    <h1 class="title2">Lake Baikal, Russia.</h1>
    <h1 class="title">A beautiful place to relax and enjoy water.</h1>
  </section>
  <section id="wonder">
    <img src="./img/wonders/lakebaikalj.jpg" alt="name">
    <center><p>Lake Baikal is an ancient, massive lake in the mountainous Russian region of Siberia, north of the Mongolian border. Considered the deepest lake in the world, it’s circled by a network of hiking paths called the Great Baikal Trail. The area of Lake Baikal is 12,248 mi². The maximum depth of the river is 1,642 m. At least 25 million years old, Lake Baikal is the oldest lake in the world. It and the surrounding mountains were formed by the Earth's crust fracturing and moving.</p><a class="button1" align="center" href="booknow.html">Go Back</a></center>
  </body>
</html>
