<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Explore the world in comfort.">
  	<meta name="author" content="Eric Schmidt">
    <title>TravelForest | Pamukkale</title>
    <link rel="stylesheet" type="text/css" href="./css/stylegeneral.css">
  </head>
  <body>
    <div class="header">
      <a href="index.html" class="logo">TravelForest</a>
      <div class="header-right">
        <a class="a" href="index.html">Home</a>
        <a class="active b"href="booknow.html">Book Now</a>
      </div>
    </div>
    <section id="land">
    <h1 class="title2">Pamukkale, Turkey.</h1>
    <h1 class="title">View the amazing salt formations in Turkey.</h1>
  </section>
  <section id="wonder">
    <img src="./img/wonders/pamukkalej.jpg" alt="name">
    <center><p>Pamukkale is a town in western Turkey known for the mineral-rich thermal waters flowing down white travertine terraces on a nearby hillside. It neighbors Hierapolis, an ancient Roman spa city founded around 190 B.C. Ruins there include a well-preserved theater and a necropolis with sarcophagi that stretch for 2km. The Antique Pool is famous for its submerged Roman columns, the result of an earthquake. The area is 4.16 sq mi.</p><a class="button1" align="center" href="booknow.html">Go Back</a></center>
  </body>
</html>
